[submodule "endianness.h"]
	path = endianness.h
	url = https://github.com/rofl0r/endianness.h.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "cpymo-backends/sdl2/SDL"]
	path = cpymo-backends/sdl2/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "cpymo-backends/android/ffmpeg-android-maker"]
	path = cpymo-backends/android/ffmpeg-android-maker
	url = https://github.com/Javernaut/ffmpeg-android-maker.git
[submodule "cpymo-backends/ios/FFmpeg-iOS-build-script"]
	path = cpymo-backends/ios/FFmpeg-iOS-build-script
	url = https://github.com/kewlbear/FFmpeg-iOS-build-script.git
[submodule "cpymo-backends/ios/ios-cmake"]
	path = cpymo-backends/ios/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
