################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/out
/.vs
/cpymo-backends/3ds/.vscode
/cpymo-backends/ascii-art/.vscode/
/cpymo-backends/ascii-art/cpymo-ascii-art.exe
/cpymo-backends/ascii-art/cpymo-ascii-art
/cpymo-backends/3ds/build
/cpymo-backends/3ds/cpymo.smdh
/cpymo-backends/3ds/cpymo.elf
/cpymo-backends/3ds/cpymo.3dsx
/cpymo-backends/3ds/cpymo.cia
/cpymo-backends/3ds/cpymo-strip.elf
*.o
/cpymo-tool/build*
/cpymo-tool/cpymo-tool.exe
/cpymo-backends/sdl1/.vscode
/cpymo-backends/sdl1/build*
/cpymo-backends/sdl1/stdout.txt
/cpymo-backends/sdl1/SDL.dll
/cpymo-backends/sdl1/cpymo.exe
/cpymo-backends/sdl1/cpymo
/cpymo-backends/sdl1/cpymo.dol
/cpymo-backends/sdl1/*.dll
