################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/out
/.vs
/cpymo-backends/3ds/.vscode
/cpymo-backends/3ds/build
/cpymo-backends/3ds/cpymo.smdh
/cpymo-backends/3ds/cpymo.elf
/cpymo-backends/3ds/cpymo.3dsx
/cpymo-backends/3ds/cpymo.cia
/cpymo-backends/3ds/cpymo-strip.elf
*.o
